.table-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
    background: #d5e6ff;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px !important;
}