.chart-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
    background: #d5e6ff;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px !important;
}

.chart-headers{
    font-size: 18px;
    color: #05004E;
    font-weight: 600;
    padding-right: 10px;
    letter-spacing: 0px;
    line-height: 32px
;}

.chart-filter{
    border: solid 0.6px #e6edff;
    border-radius: 10px;
    padding: 3px;
}
/* .apex-tooltip {
    padding: 6px 12px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
  }
   */

.chart-menu-item:hover {
  background-color: #f0f0f0;
}