.chart-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
    background: #d5e6ff;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px !important;
}

.chart-headers{
    font-size: 18px;
    color: #05004E;
    font-weight: 600;
    padding-right: 10px;
    letter-spacing: 0px;
    line-height: 32px;
}

.chart-filter{
    border: solid 0.6px #e6edff;
    background: #fff;
    border-radius: 10px;
    padding: 3px;
}

.download-dropdown-btn {
    background: #fff;
    border-radius: 10px;
    color: #05004E;
    padding: 2px 7px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.download-dropdown-btn:hover {
    background: #fff;
    border: solid 1px #fff;
}

.download-dropdown-btn::after {
    display: inline-block;
}

.chart-download-btn {
    background: #fff;
    border-radius: 10px;
    color: #05004E;
    padding: 5px 7px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
