.top-filter-class{
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 32px;
    display: flex;
    height: 53px;
    width: fit-content;
    border: solid 1px #dfe4f0;
}

.chart-cards-half{
    border-radius: 14px;
    border-color: #dfe4f0;
    width: 50%;
    height: 520px;
}

.chart-cards-full{
    border-radius: 14px;
    border-color: #e6edff;
    width: 100%;
    height: 520px;
}

.chart-cards-table{
    border-radius: 14px;
    border-color: #e6edff;
    width: 100%;
}

.spinner-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}