.top-filter-class{
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 32px;
    display: flex;
    height: 53px;
    width: fit-content;
    border: solid 1px #DFE4F0;
}

.chart-cards-half{
    border-radius: 14px;
    border-color: #DFE4F0 !important;
    width: 50%;
    height: 520px;
}

.chart-cards-full{
    border-radius: 14px;
    border-color: #DFE4F0 !important;
    width: 100%;
    height: 520px;
}

.chart-cards{
    border-radius: 14px;
    border-color: #DFE4F0 !important;
    height: 520px;
}

.chart-cards-table{
    border-radius: 14px;
    border-color: #DFE4F0 !important;
    width: 100%;
}

.spinner-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chart-columns-div {
    margin-bottom: 12px;
}

.chart-card-header {
    background: #d5e6ff;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px !important;
}