.tenure-filter-div {
    display: flex;
    align-items: center;
    gap: 12px;
    border-right: solid 1px #dfe4f0;
    padding-right: 12px;
}

.tenure-select-box {
    min-width: 180px; 
    max-width: 220px; 
    margin-right: 8px;
    border-color: #dfe4f0;
}